<%= xoxo_logo %>
<h1>What are you up to?</h1>
<p>Use Xoxo to find out what any of your friends is doing right now in real time!</p>
<h3>Get it on the Play Store now!</h3>
	<%= link_to playstore_logo, "http://play.google.com/store/apps/details?id=com.xoxo", :target => "_blank" %>
<div id = "social_links">
	<%= link_to twitter_logo, "http://twitter.com/share_the_xoxo", :target => "_blank" %>
	<%= link_to facebook_logo, "https://www.facebook.com/pages/Xoxo-Know-what-your-friends-are-up-to-right-now/346408475484091", :target => "_blank" %>
</div>